.consultation {
	min-height: 680px;
	padding: 100px 0 92px 0;
	background: url('../img/second_sect_bg2.png') 0 0/100% auto no-repeat;
	&__descr {
		margin-top: 80px;
		color: #ffffff;		
		font-size: 20px;
		font-weight: 500;		
	}
	.error {
		border: 1px solid red;
		text-align: center;
		margin-top: 5px;
		border-radius: 3px;
	}
	label.error {
		color: #fff;
		border: none;
		text-align: center;
		margin-bottom: 10px;
	}
}