//width 993px  --  1200px
@media (min-width: 993px) and (max-width: 1200px) {
	.header {
		width: 760px;
		margin: auto;
		&__logo {
			img {
				width: 77%;
			}			
		}
	}
	.promo {	
		min-height: 470px;
		padding: 21px 0 0 0;
		background: url('../img/header_bg.png') 0 0/100% auto no-repeat;		
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: 30px;
			margin-right: 90px;
		}
		&__header {
			margin-top: 10px;
			font-size: 30px;
		}
		&__subheader {
			margin-top: 0;
			font-size: 16px;
		}
		&__icons {
			margin-top: 18px;
			display: flex;			
			width: 370px;
			justify-content: space-between;
			text-align: center;
			img {
				width: 30%;
			}
		}
		&__subtitle {
			font-size: 10px;
		}
		&__link {
			margin-top: 8px;
			font-size: 13px;
		}
	}	
	.button {
		&_main {
			margin-top: 11px;
			width: 235px;
		}		
	}
	.preference {
		padding: 0 0 45px 0;
		.title {
			font-size: 27px;
		}
		&__wrapper {
			margin-top: 45px;
		}
		&__item {
			img {
				width: 20%;
			}
		}
		&__subtitle {
			margin-top: 16px;
		}
		&__descr {
			margin-top: 10px;
		}
	}
	.consultation {
		min-height: 480px;
		padding: 30px 0 40px 0;
		background: url('../img/second_sect_bg2.png') 0 0/100% auto no-repeat;
		.title {
			&_left {
				font-size: 31px;
				text-align: center;
			}
		}
		&__descr {
			margin-top: 33px;
			font-size: 18px;
			text-align: center;
		}		
	}
	.feed-form {
		display: inline;
		input {
			margin: 30px 154px 20px 0;
			&:nth-child(3) {
				margin-right: 0;
			}
		}
		.button {
			&_submit {
				position: relative;
				width: 50%;
				left: 25%;	
				margin-top: 25px;				
			}
		}		
	}
	.carousel {
		padding-top: 35px;
		&__inner {
			position: relative;
			top: 50px;	
			width: 450px;
			height: 380px;
			img {
				width: 460px;
			}		
		}
		.slick-prev, .slick-next {
			top: 41%;
		}		
	}
	.catalog {
		padding-bottom: 66px;
		.title {
			font-size: 27px;
		}
		&__tabs {
			margin-top: 27px;
		}
	}
	.feedback {
		.title {
			font-size: 27px;
		}
		&__item {
			margin-top: 72px;
			&:nth-child(2) {
				margin-top: 70px;
			}
		}
	}
	.footer {
		&__info {
			padding: 33px 68px 60px 68px;;
			width: 423px;
			height: 255px;
		}
	}
}


//width 768px  --  992px
@media (min-width: 768px) and (max-width: 993px) {
	.promo {	
		min-height: 350px;
		padding: 10px 0 0 0;
		background: url('../img/header_bg.png') 0 0/100% auto no-repeat;
		background-size: auto 300px;
		.header {
			padding: 0 10px 0 10px;
			&__logo {
				img {
					width: 70%;
				}
			}
			&__official {
				margin-right: 65px;
				font-size: 10px;
				span {
					font-size: 15px;
				}
			}
			&__phone {
				font-size: 14px;
			}
			.button {
				margin-top: 5px;
				width: 121px;
				font-size: 10px;
			}
		}		
		&__wrapper {
			margin: 39px 10px 0 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 237px;
			align-items: center;
		}
		&__text {
			margin-bottom: 100px;
			width: 270px;
		}
		&__header {
			margin-top: 10px;
			margin-left: 0;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
		}
		&__subheader {
			margin-top: 0;
			margin-left: 0;
			font-size: 8px;
			line-height: 16px;
			text-align: center;
		}
		&__icons {
			margin-top: 0;
			margin-top: -108px;
			margin-left: 55px;
			display: flex;
			flex-direction: row;	
			width: 336px;		
			justify-content: space-between;
			img {
				margin-bottom: 1px;
				width: 25%;
			}
		}
		&__subtitle {
			font-size: 10px;
		}
		&__link {
			margin-bottom: 0px;
			font-size: 8px;
			margin-top: 7px;
		}
	}	
	.button {
		&__link {
			display: flex;
			flex-direction: column;
		}
		&_main {
			margin-right: 0;
			width: 140px;
			font-size: 13px;
			margin-top: 58px;
		}		
	}	
	.consultation {
		min-height: 480px;
		padding: 30px 0 40px 0;
		background: url('../img/second_sect_bg2.png') 0 0/100% auto no-repeat;
		.title {
			&_left {
				font-size: 24px;
				text-align: center;
			}
		}
		&__descr {
			margin-top: 24px;
			font-size: 18px;
			text-align: center;
		}		
	}
	.feed-form {
		display: inline;
		input {
			margin: 30px 17px 12px 0;
			height: 44px;
			&:nth-child(1) {
				margin-left: 37px;
				margin-bottom: 12px;
			}
		}
		.button {
			&_submit {
				position: relative;
				width: 30%;
				left: 25%;	
				margin-top: 25px;				
			}
		}		
	}
	.carousel {
		padding-top: 35px;
		&__inner {
			position: relative;
			top: 50px;	
			width: 450px;
			height: 380px;
			img {
				width: 460px;
			}		
		}
		.slick-prev, .slick-next {
			top: 41%;
		}		
	}
	.catalog {
		padding-bottom: 66px;
		.title {
			font-size: 27px;
		}
		&__tabs {
			margin-top: 27px;
		}
	}
	.feedback {
		.title {
			font-size: 27px;
		}
		&__item {
			margin-top: 72px;
			&:nth-child(2) {
				margin-top: 70px;
			}
		}
	}
	.footer {
		&__info {
			padding: 33px 68px 60px 68px;;
			width: 423px;
			height: 255px;
		}
	}
}

//width 768px

//width 576px
