//width 1200px
@media (max-width: 1200px) {
	.header {
		width: 760px;
		margin: auto;
		&__logo {
			img {
				width: 77%;
			}			
		}
	}
	.promo {	
		min-height: 470px;
		padding: 21px 0 0 0;	
		
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: 30px;
			margin-right: 90px;
		}
		&__header {
			margin-top: 10px;
			font-size: 30px;
		}
		&__subheader {
			margin-top: 0;
			font-size: 16px;
		}
		&__icons {
			margin-top: 18px;
			display: flex;			
			width: 370px;
			justify-content: space-between;
			text-align: center;
			img {
				width: 30%;
			}
		}
		&__subtitle {
			font-size: 10px;
		}
		&__link {
			margin-top: 8px;
			font-size: 13px;
		}
	}	
	.button {
		&_main {
			margin-top: 11px;
			width: 235px;
		}		
	}
	.preference {
		padding: 0 0 45px 0;
	}
	.consultation {
		padding: 50px 0 65px 0;
	}
}

//width 992px
@media (max-width: 992px) {
	.promo {		
		img {
			width: 100%;
		}
		&__wrapper {
			margin-top: 40px;
		}
	}	 
}

//width 768px
@media (max-width: 768px) {
	.promo {
		padding: 0 10px 0 10px;
		min-height: 580px;	
		&__wrapper {
			align-items: center;
			margin-top: 45px;
			button {
				margin-top: 30px;
			}
		}
		&__header {
			font-size: 35px;
		}
		&__subheader {
			margin-top: 7px;
		}
		&__icons {
			margin-top: 60px;	
			min-width: 480px;	
			line-height: 24px;				
		}
		&__icon {
			font-size: 20px;
			&:nth-child(2) {
				margin-top: 5px;
			}
			&:nth-child(3) {
				margin-top: 10px;
			}			
			img {
				width: 60%;
				margin-bottom: 5px;												
			}			
		}				
		.header {
			padding-top: 5px;
			&__official {
				font-size: 16px;
				span {
					font-size: 18px;
				}
			}
			&__contacts {
				margin-right: 25px;
			}
			button {
				width: 165px;				
			}
		}	
	}
	.preference {
		padding: 45px 0 45px 0;
		&__wrapper {
			margin-top: 40px;			
		}
		&__subtitle {
			margin-top: 20px;			
			font-size: 18px;
		}
		&__descr {			
			margin-top: 16px;
			font-size: 14px;
		}
	}
	.container {
		padding: 0 10px 0 10px;
	}
}

//width 576px
@media (max-width: 576px) {
	.promo {		
		img {
			width: 100%;
		}
		&__wrapper {
			margin-top: 40px;
		}
	}
}